<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="PrbMicroservices" value="https://vsm.paranabanco.b.br/tfs/Projetos/_packaging/PrbMicroservices.Model/nuget/v3/index.json" />
    <add key="PrbPlataforma" value="https://vsm.paranabanco.b.br/tfs/Projetos/_packaging/PrbPlataforma/nuget/v3/index.json" />
	<add key="PrbUtil" value="https://vsm.paranabanco.b.br/tfs/Portais%20Utilidades/_packaging/PrbUtil_Feed/nuget/v3/index.json" />
	<add key="PrbSquads" value="https://vsm.paranabanco.b.br/tfs/projetos/_packaging/Squads/nuget/v3/index.json" />
    <add key="PrbFuncao_API_Feed" value="https://vsm.paranabanco.b.br/tfs/consignadotfs/_packaging/PrbFuncao_API_Feed/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials> 
    <PrbFuncao_API_Feed>
      <add key="Username" value="TPRB10253\azdevops_feed" />
      <add key="ClearTextPassword" value="c42on7btvV#" />
    </PrbFuncao_API_Feed>
    <PrbMicroservices>
        <add key="Username" value="TPRB10253\azdevops_feed" />
        <add key="ClearTextPassword" value="c42on7btvV#" />
        <add key="ValidAuthenticationTypes" value="basic, negotiate, ntlm"/>
    </PrbMicroservices>
    <PrbPlataforma>
        <add key="Username" value="TPRB10253\azdevops_feed" />
        <add key="ClearTextPassword" value="c42on7btvV#" />
        <add key="ValidAuthenticationTypes" value="basic, negotiate, ntlm"/>
    </PrbPlataforma>
    <PrbUtil>
        <add key="Username" value="TPRB10253\azdevops_feed" />
        <add key="ClearTextPassword" value="c42on7btvV#" />
        <add key="ValidAuthenticationTypes" value="basic, negotiate, ntlm"/>
    </PrbUtil>
    <PrbSquads>
        <add key="Username" value="TPRB10253\azdevops_feed" />
        <add key="ClearTextPassword" value="c42on7btvV#" />
        <add key="ValidAuthenticationTypes" value="basic, negotiate, ntlm"/>
    </PrbSquads>
  </packageSourceCredentials>
  <disabledPackageSources>
    <add key="Microsoft and .NET" value="true" />
  </disabledPackageSources>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>
</configuration>